<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create post</title>
    <link rel="stylesheet" href="{% static "css/redit.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <style media="screen">
      .jumbotron{
        background:url({% static "images/ocean.jpg" %});
        background-size: cover;
        background-attachment: fixed;
      }
      body{
        background:url({% static "images/ocean.jpg" %});
        background-size: cover;
        background-attachment: fixed;
        font-weight:bolder;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/redit" style="background:black;color:white;letter-spacing:3px;border-radius:12px;">cor<span style="color:red;">O</span>na </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/logout">Logout</a>
              <a class="dropdown-item" href="/signup">SignUp</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="jumbotron">
    <h1>New Post</h1>
    <p style="color:#3b5998;">Note : <i>u can upload both(video,image) at a time <span style="text-decoration:underline;"> or  </span> only image,video </i> u can!</p>
    <form enctype="multipart/form-data" method="post" class="col-md-12 col-lg-6 col-xs-12 col-sm-12 col-xl-6">
      {{form.as_p}}
      {% csrf_token %}
      <input type="submit" name="" class="btn btn-success" value="upload">

    </form>
    </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  </body>
</html>
